.mejs__container.mejs-carbon {

}

div[id^="video"] .mejs-carbon .mejs__controls {
	background: url(Sprites/control-carbon.png) 0 0;
	height: 30px;
	bottom: -30px;
}

div[id^="audio"] .mejs-carbon .mejs__controls {
	background: url(Sprites/control-carbon.png) 0 0;
	height: 30px;
	bottom: 0;
}

div[id^="vid"] .mejs-carbon .mejs__controls {
	background: url(Sprites/control-carbon.png) 0 0;
	height: 30px;
	bottom: -30px;
}

div[id^="sndtobj"] .mejs-carbon .mejs__controls {
	background: url(Sprites/control-carbon.png) 0 0;
	height: 30px;
	bottom: 0;
}

.mejs-carbon .mejs__speed-button {
	height: 30px;
}

.mejs-carbon .mejs__speed-button button {
	margin-top: 4px;
}

.mejs-carbon .mejs__speed-selector {
	top: 29px;
	left: -23px;
	background: rgba(0, 0, 0, 0.8);
}

.mejs-carbon .mejs__time-slider{
	top:10px;
	left: -18px;
}

.mejs-carbon .mejs__time{
	top:4px;
	left: -15px;
	position:relative;
}

.mejs-carbon .mejs__controls .mejs__time-rail .mejs__time-total {
	background: #383838;
	background: rgba(0,0,0,0.6);
	height: 6px;
    top: 8px;
}
.mejs-carbon .mejs__controls .mejs__time-rail .mejs__time-buffering {
	height: 6px;
}
.mejs-carbon .mejs__controls .mejs__time-rail .mejs__time-loaded {
	background: #000000;
	background: rgba(0,0,0,0.3);
	height: 6px;
}
.mejs-carbon .mejs__controls .mejs__time-rail .mejs__time-current {
	background: #00ff00;
	height: 6px;
}
.mejs-carbon .mejs__controls .mejs__time-rail .mejs__time-handle  {
	display: block;
	left: 0;
	margin: 0;
	width: 8px;
	height: 13px;
	top: -4px;
	background:  url(Sprites/control-carbon.png) no-repeat -90px -60px;
	border:solid 2px #333;
	border-radius: 5px;
}
.mejs-carbon .mejs__controls .mejs__time-rail .mejs__time-float {	
	display: none;
}
.mejs-carbon .mejs__controls .mejs__playpause-button  {
	top: 0px;
	left: 0px;
	width: 38px;
	height: 30px;
}
.mejs-carbon .mejs__controls .mejs__playpause-button  button {
	width: 30px;
	height: 30px;
	background: url(Sprites/control-carbon.png) no-repeat 0 -30px;
	margin: 0;
	padding: 0;
	left: 0;
}
.mejs-carbon .mejs__controls .mejs__pause button  {
	width: 30px;
	height: 30px;
	background: url(Sprites/control-carbon.png) no-repeat 0 -60px;
	margin: 0;
	padding: 0;
}

.mejs-carbon .mejs__controls .mejs__playpause-button  button:hover {
	background: url(Sprites/control-carbon.png) no-repeat -30px -30px;
}

.mejs-carbon .mejs__controls .mejs__pause button:hover {
	background: url(Sprites/control-carbon.png) no-repeat -30px -60px;
}

.mejs-carbon .mejs__controls .mejs__fullscreen-button  {
	top: 0px;
	right: 26px;
	width: 30px;
	height: 30px;
	background : none;
}
.mejs-carbon .mejs__controls .mejs__fullscreen-button  button {
	width: 30px;
	height: 30px;
	background: transparent url(Sprites/control-carbon.png) no-repeat 0 -90px;
	margin: 0;
	padding: 0;
}
.mejs-carbon .mejs__controls .mejs__unfullscreen  button {
	background: transparent url(Sprites/control-carbon.png) no-repeat 0 -120px;
	margin: 0;
	padding: 0;
}

.mejs-carbon .mejs__controls .mejs__fullscreen-button  button:hover {
	background: transparent url(Sprites/control-carbon.png) no-repeat -30px -90px;

}
.mejs-carbon .mejs__controls .mejs__unfullscreen  button:hover{
	background: transparent url(Sprites/control-carbon.png) no-repeat -30px -120px;
}

.mejs-carbon .mejs__controls .mejs__volume-button  {
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
}
.mejs-carbon .mejs__controls .mejs__mute button {
	background: url(Sprites/control-carbon.png) no-repeat -60px -60px;
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}
.mejs-carbon .mejs__controls .mejs__unmute button {
	background: url(Sprites/control-carbon.png) no-repeat -60px -120px;
	margin: 0;
	padding: 0;	
}
.mejs-carbon .mejs__controls .mejs__mute button:hover {
	background: url(Sprites/control-carbon.png) no-repeat -60px -90px;
}
.mejs-carbon .mejs__controls .mejs__unmute button:hover {
	background: url(Sprites/control-carbon.png) no-repeat -60px -30px;
}

.mejs-carbon  .mejs__controls .mejs__volume-button .mejs__volume-slider {
	background: #000000;
	border: solid 1px #aaa;
	border-width: 1px 1px 0 1px;
	width: 18px;
	height: 65px;
	top: -65px;
	left: 15%;
}
.mejs-carbon  .mejs__controls .mejs__volume-button .mejs__volume-total {
	background: #333;
	background: rgba(50,50,50,0.8);
	left: 8px;
	width: 6px;
	height: 50px;
}
.mejs-carbon  .mejs__controls .mejs__volume-button .mejs__volume-current {
	width: 6px;	
	background: #fff;
	background: rgba(255,255,255,0.8);
	height: 50px;
}

.mejs-carbon  .mejs__controls .mejs__volume-button .mejs__volume-handle {
	display: none;
}

.mejs-carbon .mejs__controls .mejs__time span,
.mejs-carbon .mejs__speed-button button {
	color: #FFFFFF;
}
.mejs-carbon .mejs__controls .mejs__currenttime-container  {
	position: absolute;
	top: 32px;
	right: 100px;
	border: solid 1px #999;
	background: #333;
	color: #FFFFFF;
	padding-top: 2px;
	border-radius: 3px;
}
.mejs-carbon .mejs__controls .mejs__duration-container  {

	position: absolute;
	top: 32px;
	right: 65px;
	border: solid 1px #999;
	background: #fff;
	color: #333;
	padding-top: 2px;
	border-radius: 3px;
	color: #333;
}

.mejs-carbon .mejs__controls .mejs__time  button{
	color: #333;
}
.mejs-carbon .mejs__controls .mejs__captions-button {
	position:relative;
	width: 29px;
	top: -1px;
}
.mejs-carbon .mejs__controls .mejs__captions-button button {
	width:30px;
	height:30px;
	right:-3px;
	top:4px;
    left: -5px;
	background: url(Sprites/control-carbon.png) no-repeat 0 -150px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total {
	position: absolute;
	left: 0;
	top: 11px;
	width: 50px;
	height: 8px;
}

.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
	position: absolute;
	left: 0;
	top: 11px;
	width: 50px;
	height: 8px;
}
